## Load the 7 day forecast from DarkSky.Net into Pandas!

In this example you will go back to https://api.darksky.net and use your API key to get the current weather forecast for:

Syrcause, NY `(lat=43.0481221, lng=-76.1474244)`

In the forecast output, find the daily 7 day forecast (it's the current conditions + 7 days out == 8 days total)

Extract the forecast data and load it into Pandas, then display the Time of the forecast, and high and low temperatures:

**HINT**: To get the times to show up in a human-readable format, you must convert the DarkSky API time (which is in unix timestamp format) to a Pandas Timestamp date/time format. The `pd.to_datetime()` function can help you:

```
time = 1489402800 # this the time format Darksky returns
readable_time = pd.to_datetime(time, unit='s') ## s stands for unix timestamp format
readable_time

Timestamp('2017-03-13 11:00:00')
```

Just replace the `['time']` column in the `DataFrame` with the new version.

## Step 1: Problem Analysis for entire program

Inputs: 

Outputs:

Algorithm (Steps in Program):

In [7]:
time = '1489402800'
readable_time = pd.to_datetime(time, unit='s')
readable_time

Timestamp('2017-03-13 11:00:00')

In [15]:
import pandas as pd
import numpy as np
import requests

key = '3489a0a9c979f039feefca0ffcb95cdb'
latitude = 43.0481221
longitude = -76.1474244
url = 'https://api.darksky.net/forecast/%s/%s,%s' % (key, latitude, longitude)
response = requests.get(url)
data = response.json()
forecast = data['daily']['data']
weather = pd.DataFrame(forecast)
weather['time'] = pd.to_datetime(weather['time'], unit = 's')
weather[['time', 'temperatureMin', 'temperatureMax']]

                 time  temperatureMin  temperatureMax
0 2019-05-10 04:00:00           50.62           69.61
1 2019-05-11 04:00:00           42.05           57.44
2 2019-05-12 04:00:00           45.82           56.55
3 2019-05-13 04:00:00           44.82           54.17
4 2019-05-14 04:00:00           46.82           61.87
5 2019-05-15 04:00:00           42.50           68.54
6 2019-05-16 04:00:00           50.24           59.11
7 2019-05-17 04:00:00           42.20           58.79

In [19]:
# Here's my output from when I ran the solution, to give you an example of what I expect

                 time  temperatureMin  temperatureMax
0 2017-03-13 04:00:00            8.74           25.01
1 2017-03-14 04:00:00           17.85           25.42
2 2017-03-15 04:00:00           15.93           22.90
3 2017-03-16 04:00:00           17.23           29.19
4 2017-03-17 04:00:00           17.25           36.15
5 2017-03-18 04:00:00           26.74           38.07
6 2017-03-19 04:00:00           25.69           32.82
7 2017-03-20 04:00:00           13.76           37.08

## Step 3: Questions

1. Pandas programs are different than typical Python programs. Explain the process by which you got the final solution?
2. What was the most difficult aspect of this assignment?

## Reminder of Evaluation Criteria

1. What the problem attempted (analysis, code, and answered questions) ?
2. What the problem analysis thought out? (does the program match the plan?)
3. Does the code execute without syntax error?
4. Does the code solve the intended problem?
5. Is the code well written? (easy to understand, modular, and self-documenting, handles errors)